networks:
  default:
    name: localdev
    external: true

services:
  serverless-invoices:
    build:
      context: .
    command: ["npm", "run", "serve"]
    platform: linux/amd64
    networks: [ default ]
    container_name: serverless-invoices
    volumes:
      - ./public:/app/public
      - ./src/assets:/app/src/assets
      - ./src/components:/app/src/components
      - ./src/filters:/app/src/filters
      - ./src/services:/app/src/services
      - ./src/store:/app/src/store
      - ./src/utils:/app/src/utils
      - ./src/views:/app/src/views
      - ./src/App.vue:/app/src/App.vue
      - ./src/main.js:/app/src/main.js
      - ./src/registerServiceWorker.js:/app/src/registerServiceWorker.js
      - ./src/router.js:/app/src/router.js
      - ./package.json:/app/package.json
      - ./vue.config.js.example:/app/vue.config.js
    environment:
      VIRTUAL_HOST: invoices.docker # Assuming a reverse proxy is in place in the "default" network
      VIRTUAL_PORT: "8080"
      VUE_APP_AWS_REGION: "eu-south-2"
      VUE_APP_AWS_ACCESS_KEY_ID: "accessKey"
      VUE_APP_AWS_SECRET_ACCESS_KEY: "secretAccessKey"
      VUE_APP_BUCKET_NAME: 'bucket-name'
